<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h1>ラーメンMapお客様一覧</h1>
<h2>会員一覧</h2>
<table>
  <% @customers.each do |customer| %>
  <thead>
    <Tr>
      <td>
        <%= customer.name %><br>
      <td>

    </Tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
  <% end %>
</table>
</div>
  </div>
    </div>