<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>ラーメンMapマイページ</h1>
      <%= link_to "お客様情報変更", edit_public_customer_path(@customer.id), class: "btn btn-primary btn-sm btn-block sign_up" %>
    </div>
  </div>
</div>