<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>会員詳細</h1>
        <table>
          <thead>
            <tr>
              <th>ニックネーム</th>
              <th>生年月日</th>
            </tr>
          </thead>
         <tbody>
            <tr>
              <th><%= @customer.name%></th>
              <th><%= @customer.birthday%></th>
            </tr>
         </tbody>
        </table>
        <br><%= link_to "顧客情報変更", edit_admin_customer_path, class: "btn btn-secondary btn-sm btn-block sign_up" %>
    </div>
  </div>
</div>