<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h2>ラーメンMap投稿詳細</h2>
<table class="mx-auto">
  <thead>
    <tr>
      <td><h3>投稿</h3></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>店名  麵屋ボタン<br>メニュー  羊ラーメン<br><%= image_tag @contribution.get_image %><br>コメント <%= @contribution.comment %><br>レビュー</td>
    </tr>
  </tbody>
</table>
</div>
  </div>
    </div>